/*HEADING SECTION START*/

.heading {
  background-image: url("images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 78%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.hdg-text {
  font-weight: 800;
  font-size: 72px;
  color: #18191f;
  text-shadow: 2px 2px 4px #18191f;
}

.hdg-content {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: start;
  padding-top: 100px;
}

.hdg-banner {
  width: 78%;
  display: flex;
  justify-content: space-between;
}

.hdg-banner img {
    position: relative;
    right: -20px;
  }

.hdg-button {
  background-color: #8c30f5;
  color: white;
  border-radius: 8px;
  padding: 12px 32px 12px 32px;
}

a {
  text-decoration: none;
}

nav ul li a {
  color: #18191f;
}
/*HEADING SECTION END*/


/*PARTNERS SECTION START*/
.prt-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-width: 1px;
    border-style: solid;
    border-image:linear-gradient(to right, transparent,#C0CCDA ,transparent ) 10;
    flex-wrap: wrap;
}

.prt-banner img{
    margin-left: 30px;
    margin-right: 30px;
}
/*PARTNERS SECTION END*/

/*FEATURES SECTION START*/
.featues{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ftr-text-container{
    display: flex;
    justify-content: center;
}

.ftr-text{
    width: 40%;
    box-shadow: 0px 4px 4px #C0CCDA;
    text-align: center;
}

.ftr-heading{
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    font-weight: 800;
    text-shadow: 2px 2px 4px #18191F;
    font-family: "Inter", sans-serif;
}

.ftr-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.ftr-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.ftr-features-container{
    display: flex;
    justify-content: center;
}

.ftr-grid-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ftr-features-heading{
    text-align: center;
    font-weight: 600;
    size: 24px;
    line-height: 32px;
}

.ftr-features-desctription{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}

/*FEATURES SECTION END*/


/*TESTIMONAL SECTION START*/
.testimonial{
  background-image: url("images/testimonialBg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: #18191F;
}

.tst-container{
  width: 70%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tst-card{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 20px #C0CCDA;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.tst-left-side{
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.tst-right-side{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
  flex: 1;
}

.tst-card-texts{
  display: flex;
  align-items: start;
  gap: 10px;
}

.tst-card-text-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tst-heading{
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
}

.tst-description{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.tst-card-text-item-comment{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

#tst-left-card{
  width: 60%;
  align-self: end;
}

#tst-right-bottom-card{
  width: 60%;
}

#tst-right-top-card{
  width: 80%;
}
/*TESTIMONAL SECTION END*/

/*STATS SECTION START*/
.stats{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  color: #18191F;
  
}

.stt-container{
  width: 70%;
  display: flex;
}

.stt-text{
  flex: 1;
}

.stt-text-heading{
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
}

.stt-text-description{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.stt-stats-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.stt-stats-item{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.stt-stats-item-heading{
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
}

.stt-stats-item-description{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/*STATS SECTION END*/

/*HEADLINE SECTION START*/
.headline{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #18191F;
}

.hdl-container{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hdl-container > img{
  flex: 1;
}

.hdl-texts{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hdl-texts >a{
  color: #8C30F5;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hdl-heading{
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
}

.hdl-description{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

/*HEADLINE SECTION END*/

/*FASHION SECTION START*/
.fashion{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  color: #18191F;
}

.fsh-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.fsh-texts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fsh-heading{
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
  flex: 1;
}

.fsh-description{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  flex: 1;

}

.fsh-container > img{
  width: 100%;
}
/*FASHION SECTION END*/


/*MANAGE SECTION START*/
.manage{
  background-color: #2EC5CE;
  display: flex;
  justify-content: center;
}

.mng-container{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.mng-apps>p{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.mng-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.mng-heading{
  font-size: 40px;
  line-height: 54px;
  font-weight: 800;
  color: #18191F;

}

.mng-description{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #18191F;
  text-align: justify;
}

.mng-right{
  display: flex;
  flex: 1;
}

.mng-right>img{
  width: 55%;
}
/*MANAGE SECTION END*/

/*FOOTER START*/
footer{
  background-color: #0B0D17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.foo-container{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.foo-text{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.foo-text ul li{
  list-style: none;
  display: inline;
  padding-right: 20px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #D9DBE1;
}

.foo-text p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #D9DBE1;
}

.foo-app{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.foo-app>p{
  color:  #D9DBE1;
}
/*FOOTER END*/
